.email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.email-photo {
    width: 50px;
}

.email-txt {
    width: 200px;
    font-family: 'Quicksand', sans-serif;
    color: var(--email-txt);
}

:last-child.email-txt {
    text-align: right;   
}
